name: ML Pipeline CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Training Pipeline
      run: |
        python main.py

    - name: Verify model saved
      run: |
        if [ -f "model/final_model.joblib" ]; then
          echo "Model saved successfully."
        else
          echo "Model NOT found!" && exit 1
        fi

    - name: Upload trained model
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: model/final_model.joblib
    